html, body {

    width: 100%;

    height: 100%;

    display: flex;

    justify-content: center;

    align-items: center;

    background: url(East_Shinjuku_Tokyo_Japan.jpg) no-repeat center;
    
    background-size: cover;

}



.conteudo {

    height: 0px;

    width: 0px;

    background-color: rgb(134, 12, 114);

    position: relative;

    animation: increase 5s linear;

}



@keyframes increase {

    0%{height: 0px; width: 0px;}

    50%{height: 100px; width: 100px; background-color: rgb(146, 74, 136);}

    100%{height: 200px; width: 200px; background-color: rgb(122, 206, 240);}

}